@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oswald:wght@500&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #FCF5ED;
  position: relative;
  display: flex;
}

h2 {
  font-size: 5em;
}


.navbar-nav {
  list-style-type: none;
  padding: 1em;
  border: 1px solid;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 3fr 6fr 1fr;
  position: fixed;
  top: 0;
  background-color: #161A30;
  margin: 0;
  width: 100%;
  height: 2em;
  opacity: 0.9;
  z-index: 100;
}
.nav-link {
  text-decoration: none;
  font-size: 1.5em;
  color: #FCF5ED;
  margin-right: 1rem;
  transition: font-size 0.3s;
}
a.nav-link:hover {
  color: #ba2f28;
  font-size:2em;
}
.nav-me {
  margin-right:2em;
  border-right: 1px solid black;
}
.nav-project {
  margin-right:14em;
  border-right: 1px solid black;
}
.nav-contact {
  margin-right:2em;
}
.nav-link.active {
  color: #ba2f28;
  font-size:2em;
}



.banner {
  height: 22em;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 4em;
}
h1 {
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  color: #ba2f28;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 4px #FCF5ED;

}
.banner-info h3 {
  font-size: 30px;
  color: #161A30;
  text-align: center;
  text-shadow: 2px 2px 4px #FCF5ED;
  font-weight: bold;
  border-top: 3px solid #FCF5ED;
  border-bottom: 3px solid #FCF5ED;
  margin-top: 0;
  padding: 1em;
}

#me-section {
  font-size: 5em;
  margin: 0;
  text-align: center;
  color: #161A30;
}
.me {
  display: flex;
  text-align: center;
  height: 57em;
}
.me-infos {
  margin: 3em 3em 0em 3em;
  height: 19em;
  width: 19em;
  background-color: #161A30;
  color: #FCF5ED;
  text-align: center;
}
.me-infos h2{
  font-size: 2em;
}
.list img {
  width: 60px;
  height: 60px;
}
.cake-img img {
  height: 20em;
  margin: 0.5 0.5em 0 0.5em;
}
.cake-img {
  height: 24em;
  background-color: white;
  border: 0.5px solid white;
  width: 17em;
}
.cake-img p {
  font-family: 'Caveat', cursive;
}
.perso {
  margin: 0em 3em 3em 3em;
  border: 1px solid #FCF5ED;
  height: 34em;
  width: 19em;
}
.code {
  margin: 7em 5em 0 5em;
  height: 35em;
  width: 26em;
  background-color: #FCF5ED;
  color: #ba2f28;
  border: 1px solid #FCF5ED;
  font-size: 20px;
}
#code-text {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  color: #161A30;
  padding-bottom: 1em;
  padding-top: 1em;
}

.list {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;

}
.list i {
  font-size: 30px;
}
.hobies {
  margin: 3em;
  color:#161A30;
  height: 45em;
  width: 13em;
}
.hobies i {
  font-size: 60px;
}
.hobies h2 {
  font-size: 2em;
}
.hobies-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin: 1em;
}
.item {
  height: 6em;
  width: 4em;
}
.hobies .fa-solid {
  color: #161A30;
}
.arrow {
  margin: 7em 2em 0em 5em;
  color: #161A30;
}
.arrow .fa-solid:hover {
  color: #ba2f28;
  font-size: 70px;
}

#project-section {
  font-size: 5em;
  margin: 0;
  text-align: center;
}
.project{
  background-color: #161A30;
  height: 50em;
  justify-content: space-around;
}
.project h2 {
  color:#FCF5ED;
}
.project-container {
  display: flex;
}
.daily {
  display: flex;
  width: 50%;
  background-color: #FCF5ED;
  justify-content: center;
  height: 32em;
  margin: 2em;
  transition: box-shadow 0.3s;
}
.daily:hover {
  box-shadow: 6px 3px 3px #ba2f28;
}
.daily-text {
  width: 50%;
  margin-right: 1em;
  color: #161A30;
}
.daily h2 {
  font-size: 3em;
  color: #161A30;
  border-bottom: 1px solid black;
}
.daily p {
  margin: 4em 0 3em 0;
  color: #161A30;
}
.pets {
  display: flex;
  width: 50%;
  height: 32em;
  background-color: #FCF5ED;
  justify-content: center;
  margin: 2em;
  transition: box-shadow 0.3s;
}
.pets h2 {
  font-size: 3em;
  color: #161A30;
  border-bottom: 1px solid black;
}
.pets-content {
  margin-left: 2em;
}
.pets:hover {
  box-shadow: 6px 3px 3px #ba2f28;
}


.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-item img {
  width: 15em;
  height: 30em;
  z-index: 1;
}
.carousel-item {
  flex: 0 0 100%;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.carousel-container {
  position: relative;
  width: 15em;
  height: 30em;
  overflow: hidden;
}
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  color: #ba2f28;
  padding: 10px;
  z-index: 2;
}
.carousel-control.prev {
  left: 10px;
}
.carousel-control.next {
  right: 10px;
}
.project .fa-regular {
  opacity: 0.5;
}
.project .fa-regular:hover {
  opacity: 1;
}


.carousel-bis {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-container-bis {
  position: relative;
  width: 28em;
  height: 15em;
  overflow: hidden;
}
.carousel-item-bis img {
  width: 30em;
  height: 15em;
}
.carousel-item-bis {
  flex: 0 0 100%;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.carousel-control-bis {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  color: #ba2f28;
  padding: 10px;
  z-index: 2;
}
.carousel-control-bis.prev {
  left: 10px;
}
.carousel-control-bis.next {
  right: 10px;
}


.stacks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: #ba2f28;
}
.stacks p{
  margin-top: 0;
}
.stacks-bis {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  color: #ba2f28;
  margin: 5em 2em 0em 0em;
}
.stacks-bis p{
  margin-top: 0;
  color: #161A30;
}



.footer {
  background: #FCF5ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  width: 100%;
  padding: 0px;
  color: #161A30;
}
.mail {
  color: #161A30;
  font-size: 30px;
  transition: font-size 0.3s;
}
.mail:hover {
  color: #ba2f28;
  font-size: 38px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #161A30 ;
  opacity: 0.5;
  text-decoration: none;
  font-size: 28px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-copyright {
  display: block;
}
.footer-copyright p {
  margin-top: 0;
  margin-right: 1em;
  text-align: center;
}

@media screen and (max-width: 540px) {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0 ;
    overflow-x: hidden;
  }
  .navbar-nav {
    display: none;
  }
  .banner {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    height: 80%;
  }
  .banner h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    font-size: 3em;
  }
  .banner h3 {
    width: 100%;
    text-align: left;
    margin-top: 2em !important;
    margin: 0;
    font-size: 1.2em;
  }
  h2 {
    text-align: left;
    font-size: 3em;
  }
  .me, .project {
    display: block;
    height: auto;
  }
  .perso {
    width:  100%;
    margin: 0;
  }
  .me-infos {
    width: 100%;
    margin: 0;
    margin-top: 1em;
  }
  .me-infos h2 {
    text-align: center;
  }
  .code {
    height: 36em;
    width: 100%;
    margin: 0;
  }
  .hobies {
    height: 23em;
    width: 100%;
    margin: 0 0 3em 0;
    border-top: 3px solid #161A30;
    padding-top: 1em;
  }
  .hobies-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
  }
  #me-section {
    font-size: 3em;
    margin: 0;
    text-align: center;
  }
  #project-section {
    font-size: 3em;
    text-align: center;
    margin: 0 0 1em 0;
  }
  .pets {
    display: none;
  }
  .carousel-container-bis {
    display: none;
  }
  .stacks-bis {
    display: none;
  }
  .daily {
    width: 100%;
    margin: 0;
    display: block;
    height: 74em;
  }
  .daily-text {
    width: 100%;
  }
  .carousel-container{
    width: 100%;
    height: 42em;
  }
  .carousel-item img {
    width: 100%;
    height: 42em;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .arrow {
    display: none;
  }
  .footer {
    height: 5em;
  }
  .footer-copyright p {
    display: none;
  }
  a.mail {
    font-size: 35px;
    text-decoration: underline;
  }
}
